<!-- Offer imagess  -->

<div class="relative">
  <img class="w-full object-cover brightness-50 filter lg:h-[500px]" src="./assets/images/header-bg.jpeg"
    alt="Bedroom images" />

  <div
    class="absolute top-1/2 left-1/2 mx-auto flex w-11/12 max-w-[1200px] -translate-x-1/2 -translate-y-1/2 flex-col text-center text-white lg:ml-5">
    <h1 class="text-4xl font-bold sm:text-5xl">
      Best Products for Home Decoration
    </h1>
    <p class="mx-auto pt-3 text-xs lg:w-3/5 lg:pt-5 lg:text-base">
      <span class="text-xl">Find the best products for your <span class="italic">Home Sweet Home</span> and make it look Charming</span>
    </p>
  </div>
</div>

<!-- /Offer images  -->

<!-- Cons bages -->

<section
  class="container mx-auto my-8 flex flex-col justify-center gap-3 lg:flex-row"
>
  <!-- 1 -->

  <div
    class="mx-5 flex flex-row items-center justify-center border-2 border-yellow-400 py-4 px-5"
  >
    <div class="">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6 text-violet-900 lg:mr-2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12"
        />
      </svg>
    </div>

    <div class="ml-6 flex flex-col justify-center">
      <h3 class="text-left text-xs font-bold lg:text-sm">Free Delivery</h3>
      <p class="text-light text-center text-xs lg:text-left lg:text-sm">
        Orders from ₹200
      </p>
    </div>
  </div>

  <!-- 2 -->

  <div
    class="mx-5 flex flex-row items-center justify-center border-2 border-yellow-400 py-4 px-5"
  >
    <div class="">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6 text-violet-900 lg:mr-2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"
        />
      </svg>
    </div>

    <div class="ml-6 flex flex-col justify-center">
      <h3 class="text-left text-xs font-bold lg:text-sm">Money returns</h3>
      <p class="text-light text-left text-xs lg:text-sm">30 Days guarantee</p>
    </div>
  </div>

  <!-- 3 -->

  <div
    class="mx-5 flex flex-row items-center justify-center border-2 border-yellow-400 py-4 px-5"
  >
    <div class="">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6 text-violet-900 lg:mr-2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"
        />
      </svg>
    </div>

    <div class="ml-6 flex flex-col justify-center">
      <h3 class="text-left text-xs font-bold lg:text-sm">24/7 Supports</h3>
      <p class="text-light text-left text-xs lg:text-sm">Consumer support</p>
    </div>
  </div>
</section>

<!-- /Cons bages  -->



<!-- Special offer card -->

<div class="mx-auto max-w-[1200px] px-5">
  <section class="mt-10 flex max-w-[1200px] justify-between bg-violet-900 px-5">
    <div class="py-8 px-3 lg:px-16">
      <p class="text-white">ONLINE EXCLUSIVE</p>
      <h2 class="pt-6 text-5xl font-bold text-yellow-400">15% OFF</h2>
      <p class="pt-4 text-white">
        ACCENT CHAIRS, <br />
        TABLES & OTTOMANS
      </p>
      <button
        href="#"
        class="mt-6 bg-amber-400 px-4 py-2 duration-100 hover:bg-yellow-300"
      >
        Shop now
      </button>
    </div>

    <img
      class="-mr-5 hidden w-[550px] object-cover md:block"
      src="./assets/images/creditImg.jpg"
      alt="Credit card mockup images"
    />
  </section>
</div>

<!-- /Special offer card -->

<section class="max-w-[1200px] mx-auto px-5 py-8">
  <h2 class="text-xl font-semibold mb-6">TOP NEW ARRIVAL</h2>

  <div class="splide pb-10" aria-label="Top New Arrivals">
    <div class="splide__track">
      <ul class="splide__list">
        <li *ngFor="let product of newProducts" class="splide__slide px-2">
          <div class="flex flex-col bg-white shadow rounded-lg overflow-hidden h-full">
            <img
              [src]="product.images"
              [alt]="product.name"
              class="w-full h-60 object-cover"
            />
            <div class="p-3 flex flex-col justify-between h-full">
              <div>
                <p class="font-semibold text-base">{{ product.name }}</p>
                <p class="text-violet-700 font-bold mt-1">
                  ₹{{ product.price }}
                  
                </p>

                <div class="flex items-center mt-1">
                  <ng-container *ngFor="let i of [1, 2, 3, 4]">
                    <svg
                      class="h-4 w-4 text-yellow-400"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M10 15l-5.878 3.09 1.122-6.545L.488 6.91l6.561-.955L10 0l2.951 5.955 
                        6.561.955-4.756 4.635 1.122 6.545z"
                      />
                    </svg>
                  </ng-container>
                  <svg
                    class="h-4 w-4 text-gray-200"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M10 15l-5.878 3.09 1.122-6.545L.488 6.91l6.561-.955L10 0l2.951 5.955 
                      6.561.955-4.756 4.635 1.122 6.545z"
                    />
                  </svg>
                </div>
              </div>

              <button
                (click)="addToCart(product._id)"
                class="mt-4 h-10 w-full bg-violet-900 text-white rounded"
              >
                Add to cart
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>


<section class="max-w-[1200px] mx-auto px-5 py-8">
  <h2 class="text-xl font-semibold mb-6">RECOMMENDED FOR YOU</h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <div
      *ngFor="let product of recommendedProducts"
      class="border rounded-2xl shadow hover:shadow-lg transition-all p-4"
    >
      <img
        [src]="product.images"
        [alt]="product.name"
        class="w-full h-48 object-cover rounded-xl mb-4"
      />

      <h3 class="text-lg font-medium mb-2 truncate">{{ product.name }}</h3>
      

      <div class="flex justify-between items-center">
        <span class="text-green-600 font-semibold text-lg">
          ₹{{ product.price }}
        </span>
        <button
          (click)="addToCart(product._id)"
          class="bg-violet-900 text-white px-4 py-2 rounded-xl hover:bg-violet-700"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</section>
