<div>
  <div class="relative">
    <img class="w-full object-cover brightness-50 filter lg:h-[500px]" src="./assets/images/about-us-bg.jpeg"
      alt="Iphone with Macbook image" />

    <div
      class="absolute top-1/2 left-1/2 mx-auto flex w-11/12 max-w-[1200px] -translate-x-1/2 -translate-y-1/2 flex-col text-center text-white lg:ml-5">
      <h1 class="text-4xl font-bold sm:text-5xl">About Us</h1>
      <p class="italic mx-auto pt-3 text-xs lg:w-3/5 lg:pt-5 lg:text-base" style="color: yellow;">
        We are here to make a big empire by earning huge profits by emptying your pockets.
      </p>
    </div>
  </div>
</div>

<section class="flex-grow">
  <div class="mt-6 flex flex-col gap-3">
    <img class="mx-auto w-[200px]" src="./assets/images/image/company_logo.png" alt="SwiftCart Logo" />
    <p class="text-center text-sm">Since 2025</p>
  </div>

  <div class="mx-auto my-10 flex max-w-[600px] flex-col items-center justify-center px-5">
    <h2 class="w-full text-left text-xl font-bold">Our Mission:</h2>
    <p class="py-3">
      At SwiftCart, our mission is to bring warmth, style, and personality into every home. We curate high-quality,
      affordable home decor that reflects diverse tastes and modern living. From handcrafted pieces to timeless essentials,
      we’re here to help you create spaces that feel truly your own.
    </p>
   

    <h2 class="mt-3 w-full text-left text-xl font-bold">Our Vision:</h2>
    <p class="py-3">
      We envision a world where beautiful living spaces are accessible to all. By blending creativity with convenience, we aim
      to become the go-to destination for home decor inspiration and innovation. Whether you're furnishing your first
      apartment or revamping your forever home, we’re here to make the journey effortless and inspiring.
    </p>

    <h2 class="mt-3 w-full text-left text-xl font-bold">Our Values:</h2>
    <p class="py-3">
      We are driven by authenticity, craftsmanship, and care. We partner with artisans and ethical producers, believing every
      product should tell a story. Our values shape how we design, source, and serve—from prioritizing sustainability to
      offering customer-first service. At the heart of everything we do is a commitment to helping you love where you live.
    </p>
    
  </div>
</section>